
<div id="telaEnvioPix">
    <h2>Enviar Pix</h2>
    <div class="pix-content">
      <label for="chavePix">Chave Pix</label>
      <input type="text" id="chavePix" class="input-text" placeholder="Digite a chave Pix">
      
      <label for="valorPix">Valor</label>
      <input type="number" id="valorPix" class="input-text" placeholder="Digite o valor">
  
      <button class="btn-confirmar" (click)="confirmarEnvio()">Confirmar Envio</button>
      <button class="btn-voltar" (click)="voltar()">Voltar</button>
    </div>
  </div>
  